@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

body {
    font-family: 'Noto Sans Mono', monospace;
    background-image: url('/static/assets/sky.jpg');
}

.dirt {
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 5%;
    width: 100%;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-image: url('/static/assets/dirt.png');
}

hr {
    border: 1px dashed black;
}

.tick {
    font-size: 0.7rem;
}

h1 {
    margin:auto;
    text-align: center;
}

.display {
    margin: auto;
    display: flex;
    text-align: center;
    height: 15%;
}

.container .viz p {
    text-align: left;
    margin-left: 7.5%;
    font-size: 1.25rem;
    text-decoration: underline;
}

.container .info {
    border: black 1px solid;
    padding: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.125);
}

.info p::before {
    content: "• ";
    font-weight: 700;
}

@media (orientation: landscape) {
    body {
        overflow-y: hidden;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .dirt {
        z-index: -10;
    }

    h3 {
        margin: auto;
        width: 50%;
    }

    .display {
        width: 50%;
    }

    .container {
        display: flex;
        height: 66%;
    }
    
    .container .viz {
        display: block;
        width: 35%;
    }

    .container .info {
        position: absolute;
        height: 66%;
        margin:auto;
        width: 22.5%;
        right: 0px;
        bottom: 0px;
    }
}

@media (orientation: portrait) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .dirt {
        z-index: 10;
    }

    h3 {
        margin: auto;
        width: 100%;
    }

    .display {
        width: 90%;
    }

    .container {
        display: block;
        height: 100%;
    }
    
    .container .viz {
        display: block;
        width: 95%;
    }

    .container .info {
        height: 60%;
        margin-top: 5%;
    }
}